<%= link_to 'add a bookmark', new_list_bookmark_path(@list) %>
<%= dinosaur.photo.attached? ? cl_image_path(dinosaur.photo.key) : image_path(dinosaur.image_url) %>
<%= @list.photo.attached? ? cl_image_path(@list.photo.key, height: 300, width: 400, crop: :fill) : 'N/A' %>
<h1><%= @list.name %></h1>
<% @list.bookmarks.each do |bookmark| %>
  <%= image_tag "https://image.tmdb.org/t/p/w500/#{bookmark.movie.poster_url}"%>
  <h2><%= bookmark.movie.title %></h2>
  <h3><%= bookmark.comment %></h3>
  <p><%= link_to 'delete me', bookmark_path, method: :delete %></p>
<% end %>

<%= link_to 'back', lists_path %>
